spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://${DB_HOST}:3306/${DB_NAME}?useSSL=false&serverTimezone=Asia/Seoul
    username: ${DB_USER}
    password: ${DB_PASS}

  data:
    redis:
      host: ${REDIS_HOST}
      port: 6379

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
            redirect-uri: https://stiky-api-mh6lf6mzkq-du.a.run.app/login/oauth2/code/google

openapi:
  server-url: https://stiky-api-mh6lf6mzkq-du.a.run.app
  client-url: https://www.stiky.site

jwt:
  secret: ${JWT_SECRET}

cors:
  allowed-origins: https://www.stiky.site,https://stiky.site,http://localhost:5173

cookie:
  domain: .stiky.site
